<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="User account registration" />
<meta name="author" content="Amir Boroumand" />
<link rel="icon" href="favicon.ico" />

<title>Notes</title>

<!-- Bootstrap core CSS -->
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />

<link th:href="@{css/style.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
	<div class="container" style="margin-top: 5%;">
		<div class="panel panel-default">
			<div class="panel-body">
				<div>
					<h3 class="col-xs-4">Notes</h3>
					<a href="#" th:href="@{/notesEdit}" class="pull-right"><i
						class="fa fa-file
								h-cursor" aria-hidden="true"></i>New
						Notes</a>
				</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Sr.No</th>
							<th>Title</th>
							<th>Description</th>
							<th>Created on</th>
							<th>Updated on</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="note : ${notes}">
							<td th:text="${note.id}" />
							<td th:text="${note.title}" />
							<td th:text="${note.description}" />
							<!-- 2018-08-18 10:43:30 -->
							<td
								th:text="${#dates.format(note.createdOn, 'MMM dd, yyyy HH:mm:ss')}" />
							<td
								th:text="${#dates.format(note.updatedOn, 'MMM dd, yyyy HH:mm:ss')}" />
							<td>&nbsp;&nbsp;&nbsp;<a href="#"
								th:href="@{/notesEdit/__${note.id}__}"><i
									class=" fa fa-pencil
								h-cursor" aria-hidden="true"></i></a>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#"
								th:href="@{/notesDelete/__${note.id}__}"><i
									class="fa fa-trash h-cursor" aria-hidden="true"></i></a></td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

	<!-- Bootstrap Validator plugin -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
</body>
</html>